<p id="notice"><%= notice %></p>
<%= @blog.inspect %>
<hr>

<strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @blog.image %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @blog.subject %>
</p>

<%= link_to 'Edit |', edit_blog_path(@blog) if current_user == @blog.user_id || current_user == :site_admin %>
<%= link_to 'Back', blogs_path %>
